
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: 0;
}

.joke-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    background: linear-gradient(0.25turn, #ffb84d, #ff9900, #ff5724, #f44034, #e92063 );
    overflow: hidden;
    position: relative;
}

.joke-header {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
}

#joke-title {
  color: #f44034;
  width: 100%;
  margin-top: 50px;
}

#joke-description {
  color: #ff5724;
}

.get-joke {
    background: linear-gradient(to bottom, #ff5724, #ff9900); 
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    height: 60px;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 50px;
}

.joke-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #ff5724, #ff9900); 
    color: white;
    font-weight: bold;
    box-shadow: 
      -8px -8px 20px #fff9, 
      -6px -6px 6px #fff9,
      8px 8px 20px #0001, 
      5px 5px 6px #0001, 
      inset 0px 0px 0px #fff9,
      inset 0px 0px 0px #0001, 
      inset 0px 0px 0px #fff9,
      inset 0px 0px 0px #0001;
    font-size: 1.5em;
    padding: 20px;
    position: relative;
    min-height: 250px;;
    width: 70%;
    overflow-wrap: break-word;
    border-radius: 20px;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

.current-joke {
  background: transparent;

}

@media (max-width: 700px) {
    #joke-area {
        font-size: 1.2em;
        padding: 15px;
    }
}