.joke-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.joke-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f44034;
    color: white;
    font-weight: bold;
    box-shadow: 
      -8px -8px 20px #fff9, 
      -6px -6px 6px #fff9,
      8px 8px 20px #0001, 
      5px 5px 6px #0001, 
      inset 0px 0px 0px #fff9,
      inset 0px 0px 0px #0001, 
      inset 0px 0px 0px #fff9,
      inset 0px 0px 0px #0001;
    font-size: 1.5em;
    padding: 20px;
    position: relative;
    min-height: 250px;;
    width: 70%;
    overflow-wrap: break-word;
    border-radius: 20px;
}

/* test */