
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: 0;
}


h2 {
    text-align: center;
    background: linear-gradient(0.25turn, #ffb84d, #ff9900, #ff5724, #f44034, #e92063 );
    margin: 0;
}

.breathing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background: linear-gradient(0.25turn, #ffb84d, #ff9900, #ff5724, #f44034, #e92063 );
    overflow: hidden;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#start-button {
    background: linear-gradient(to bottom, #ff5724, #ff9900); 
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    height: 60px;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.breathing-container {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
  }
  
  .breathing-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(farthest-corner, #30248c, #4335b1, #4f3ece, #4054d8);
    box-shadow: 0 0 20px 5px rgba(72, 118, 255, 0.8);
    animation: breathAndTextChange 10s infinite, colorChange 10s infinite; 
    z-index: 1;
    margin-top: -30px; 
  }
  
  .breathing-text {
    position: absolute;
    font-family: fantasy;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    pointer-events: none;
    z-index: 2;
  }
  
@keyframes breathAndTextChange {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(3); 
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes colorChange {
    0% {
      background: radial-gradient(farthest-corner, #30248c, #4335b1, #4f3ece, #4054d8); 
    }
    50% {
      background: radial-gradient(farthest-corner, #30248c, #4335b1, #4f3ece, #4054d8); 
    }
    51% {
      background: radial-gradient(farthest-corner, #1e90ff, #00bfff, #87cefa, #add8e6); 
    }
    100% {
      background: radial-gradient(farthest-corner, #1e90ff, #00bfff, #87cefa, #add8e6); 
    }
  }
