
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.breathing-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(71, 106, 233);
    animation: breath 10s infinite alternate;
}

@keyframes breath {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
    }
}

  




