.moving-background {
  position: absolute;
  top: -8%; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
  pointer-events: none; 
}

@keyframes floatAndTransform {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg) scale(1);
  }
  25% {
    transform: translateY(-100px) translateX(50px) rotate(45deg) scale(1.1);
  }
  50% {
    transform: translateY(50px) translateX(-50px) rotate(90deg) scale(0.9);
  }
  75% {
    transform: translateY(-50px) translateX(-100px) rotate(135deg) scale(1.2);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(180deg) scale(1);
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2); 
  animation: floatAndTransform 10s infinite ease-in-out; 
}

.circle.first {
  animation-duration: 12s; 
  animation-delay: 0s;
}

.circle.second {
  animation-duration: 8s;
  animation-delay: 2s;
}

.circle.third {
  animation-duration: 16s; 
  animation-delay: 4s;
}

.moving-background .circle.third {
  top: 20%; /* Ensures this rule applies */
}