.home-page {
  text-align: center;
  padding: 1rem;
}

.content {
  padding: 2rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.spinner-wheel {
  width: 200px;
  height: 200px;
  border: 5px solid #4caf50;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  animation: spin-animation 5s linear infinite;
}

.spinner-wheel:hover {
  background-color: #f0f0f0;
}

/* @keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */