.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  text-align: center;
  margin-top: 150px;
  padding: 0 15rem; 
  background: linear-gradient(0.25turn, #ffb84d, #ff9900, #ff5724, #f44034, #e92063); 
  height: calc(100vh - 100px); 
  color: white;
  position: relative;
}

.home-page-wrapper {
  background: linear-gradient(0.25turn, #ffb84d, #ff9900, #ff5724, #f44034, #e92063); 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


@keyframes colorCycle {
  0% {
    color: #ffffff;
  }
  25% {
    color: #4fc3f7; 
  }
  50% {
    color: #512da8; 
  }
  75% {
    color: #81c784;
  }
  100% {
    color: #ffffff; 
  }
}


.animated-title {
  font-size: 3.5rem;
  color: #ffffff;
  animation: colorCycle 10s infinite linear;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
}

h2 {
  font-size: 1.8rem;
  color: #ffdab9; 
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #ffe5d9; 
}

.basic-spinner {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 2rem;
}  
.spinner-outer {
  position: absolute;
  margin-top: 10rem;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top: 8px solid #e94803; 
  animation: spin 3s linear infinite; 
  box-shadow: 0 0 40px rgb(255, 230, 0); 
  transition: box-shadow 0.3s ease, border-top-color 0.3s ease;
}

.basic-spinner:hover .spinner-outer {
  border-top-color: #48e774; 
  box-shadow: 0 0 100px rgba(72, 231, 116, 1), 0 0 80px rgb(250, 159, 1);
  transform: scale(2); 
}  
.spinner-text {
  position: absolute;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  margin: 0;
} 

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.basic-spinner.active {
  animation: multiBounce .9s ease-in-out; 
}

@keyframes multiBounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3); 
  }
  50% {
    transform: scale(0.8); 
  }
  75% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(.1); 
  }
} 

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

