.quote-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.moving-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.quote-circles .circle.first {
  background: rgb(255, 153, 0);
}

.quote-circles .circle.second {
  background: rgb(255, 184, 77); 
}

.quote-circles .circle.third {
  background: rgb(255, 87, 36); 
}

.quote-header {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  z-index: 1000;
}

#quote-h1 {
  color: #f44034;
  width: 100%;
  margin-top: 50px;
}

#quote-description {
  color: #ff5724;
}

.new-quote {
  background: linear-gradient(to bottom, #ff5724, #ff9900); 
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
  height: 60px;
  font-weight: bold;
  box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 15px;
  z-index: 1000;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#speech-bubble {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f44034;
  color: white;
  font-weight: bold;
  box-shadow: 
    -8px -8px 20px #fff9, 
    -6px -6px 6px #fff9,
    8px 8px 20px #0001, 
    5px 5px 6px #0001, 
    inset 0px 0px 0px #fff9,
    inset 0px 0px 0px #0001, 
    inset 0px 0px 0px #fff9,
    inset 0px 0px 0px #0001;
  font-size: 1.5em;
  padding: 20px;
  position: relative;
  min-height: 250px;;
  width: 70%;
  overflow-wrap: break-word;
}

#speech-bubble:nth-child(1) {
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#speech-bubble:nth-child(1)::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -80px; 
  bottom: 0;
  width: 80px;
  background: linear-gradient(to bottom, #ff5724, #ff9900); 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#speech-bubble:nth-child(1)::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -30px;
  right: 20px;
  border-width: 30px 0 0 30px;
  border-style: solid;
  border-color: #f44034 transparent;
  width: 2px;
  border-radius: 0 0 20px 20px;
}

#quote-author {
  align-self: flex-end;
  margin-top: 20px;
  font-size: 1em;
  font-style: italic;
}

@media (max-width: 700px) {
  #speech-bubble {
    font-size: 1.2em;
    padding: 15px;
  }
  #quote-author {
    font-size: .75em;
  }
}